---
import Thanks from "../../components/Thanks";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="checkout">
    <div class="grid min-h-screen place-content-center text-center">
        <Thanks client:load />
    </div>

</Layout>