---
interface Props {
   title: string;
}
const {title} = Astro.props
---
<div class=" border rounded-md h-auto p-3 m-3">
    <h1 class="text-center font-bold">{title}</h1>
    <div class="grid content-center h-[250px] grid-flow-col gap-1 overflow-x-auto scroll-smooth scrollbar-hide">
        <slot />
    </div>
</div>