.cart {
    transition: right 0.3s ease-in-out;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
 }
 footer {
    flex: 0 0 200px;
    
 }

 .cart.active {
    height: calc(100vh - 3rem);
    right: 0;
    display: flex;
    flex-direction: column;
 }

 header {
    padding: 20px;
    background-color: #f1f1f1;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #e2e2e2;
    overflow-y: auto; /* Ensures that main can scroll if content overflows */
    display: flex;
    
    flex-direction: column;
    gap: 5px; /* Space between cards */
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Flexible cards that take up 1/3 of the container width minus the gap */
    box-sizing: border-box;
    max-width: calc(33.333% - 40px); /* Ensures max width is same as the calculated width */
}

footer {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: #ccc;
    text-align: center;
    padding: 12px 0 12px 0;
}