---
const {sectionID} = Astro.props;

---

<section id={sectionID} class="min-h-screen p-5 border justify-center items-center m-4 border-white">

    <body>
        <slot/>
    </body>
</section>

<style>
    
</style>