---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../services/supabase";
import Datetime from "../../components/Datetime";
import ListPesanan from "../../components/ListPesanan";
import sharp from "sharp";

const { data, error } = await supabase.from("transaksi").select("*");
;

---



<Layout title="admin page">
   <section class="flex flex-col w-full min-h-screen">
      <header
         class="border-b flex justify-between px-2 items-center bg-slate-100 border-black top-0 left-0 h-14 w-full"
      >
         <h1>DASHBOARD JIMA COFFEE</h1>
         <Datetime client:load />
      </header>
      <main class="flex p-3 border">
         <div
            class="h-[500px] flex flex-col justify-start p-2 items-start border border-black w-full"
         >
            <table border="1" class="w-full">
               <tr class="grid grid-cols-5 border-collapse">
                  <th>Id Pesanan</th>
                  <th>Nama Pemesan</th>
                  <th>Item Pesanan</th>
                  <th>No Meja</th>
                  <th>Total</th>
               </tr>
            </table>
           {
               data.map((item) => (
                   <ListPesanan
                     id={item.id}
                     nama={item.nama} 
                     items={JSON.parse(item.items)
                         .map((item) => item.name)
                         .join(", ")
                     }
                     jumlah={JSON.parse(item.items)
                         .map((item) => item.quantity)
                         
                     }  
                     meja={item.meja}
                     total={item.total}
                   />
               ))
           }
         </div>
         
         <div class="p-5">
            <Card
               title="Menu"
               href="/admin/menu"
               body="Tampilkan Daftar Menu"
            />
         </div>
      </main>
   </section>
</Layout>

<style>
   form {
      margin-top: 10px;
      padding: 5px;
      background-color: darkcyan;
   }
   input {
      margin-bottom: 3px;
      width: 100%;
      border-radius: 8px;
   }
   select {
      color: black;
      margin-bottom: 3px;
      width: 100%;
      border-radius: 8px;
   }
   button {
      width: 100%;
      border-radius: 8px;
      background-color: darkorange;
      color: white;
      padding: 5px;
   }
   button:hover {
      background-color: rgb(139, 74, 0);
   }
</style>
