---

import Card from "../../components/Card.astro"
import LayoutAdmin from "../../layouts/LayoutAdmin.astro"
import { supabase } from "../../services/supabase"
import sharp from 'sharp'


---

<LayoutAdmin title="admin page">
    <div class="p-5">
        <Card title="Menu" href="/admin/menu" body="Tampilkan Daftar Menu" />

        
    </div>    
</LayoutAdmin>

<style>
    form {
        margin-top: 10px;
        padding: 5px;
        background-color: darkcyan
        
    }
    input {
        margin-bottom: 3px;
        width: 100%;
        border-radius: 8px;

    }
    select {
        color: black;
        margin-bottom: 3px;
        width: 100%;
        border-radius: 8px;
    }
    button {
        width: 100%;
        border-radius: 8px;
        background-color: darkorange;
        color: white;
        padding: 5px;
    }
    button:hover {
        background-color: rgb(139, 74, 0);
    }
</style>

