---
import Layout from "../../layouts/Layout.astro";

import Keranjang from "../../components/Keranjang.jsx";

import DaftarMenu from "../../components/DaftarMenu";
---

<Layout title="Menu">
   <header
      class="fixed h-12 top-0 w-full bg-[#000000] flex justify-between items-center p-2"
   >
      <a class="text-white" href="/"
         ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#FFFFFF"
            ><path
               d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"
            ></path></svg
         ></a
      >
      <h1 class="text-white">Daftar Menu</h1>
      <Keranjang client:load />
   </header>
   <DaftarMenu client:load />
</Layout>

<style>
   .cart {
      transition: right 0.3s ease-in-out;
   }
   footer {
      flex: 0 0 200px;
   }

   .cart.active {
      right: 0;
   }
   input[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none; /* Menghapus tampilan default */
      appearance: none; /* Menghapus tampilan default */
      height: 16px; /* Mengatur tinggi tombol "x" */
      width: 16px; /* Mengatur lebar tombol "x" */
      background: url("src/assets/images/close.png") no-repeat center center; /* Mengatur ikon kustom */
      background-size: contain; /* Mengatur ukuran ikon */
   }
</style>
